# 忽略编译产生的对象文件
*.o
*.obj

# 忽略编译产生的可执行文件
*.exe
*.out

# 忽略编译产生的库文件
*.a
*.lib

# 忽略编译产生的共享对象文件
*.so

# 忽略编译产生的动态链接库文件
*.dll

# 忽略 IDE 产生的文件夹和文件
*.vscode/
*.idea/

# 忽略构建文件夹
build/
Debug/
Release/

# 忽略日志和临时文件
*.log
*.tmp
